.chat {
  &__content {
    background: url(../../assets/backChat.png) center/cover;
    width: 100%;
    height: 100vh;
    padding: 20px 65px;

    &__logo {
      color: rgb(255, 255, 255);
      font-size: 23px;
      font-weight: 700;
      line-height: 28px;
    }
    &__search_box {
      position: relative;
      ul {
        position: absolute;
        top: 120%;
        width: 100%;
        border-radius: 8px;
        padding: 10px;
        backdrop-filter: blur(10px);
        li {
          background-color: white;
          padding: 8px 15px;
          border-radius: 4px;
        }
      }
    }

    &__nav {
      margin: 12px 0 0 0;
      display: flex;
      gap: 25px;

      &__title {
        color: rgb(255, 255, 255);
        font-size: 23px;
        font-weight: 600;
        line-height: 28px;
        text-transform: capitalize;
        cursor: pointer;
      }
      &__pretitle {
        color: rgb(255, 255, 255);
        font-size: 23px;
        font-weight: 600;
        line-height: 28px;
        text-transform: capitalize;
        cursor: pointer;
      }

      &__hrr {
        margin: 8px 0 0 20px;
        max-width: 77px;
        height: 4px;
        border: none;
        border-radius: 10px;
        background: rgb(225, 0, 0);
      }
      &__active {
        margin: 8px 0 0 140px;
        max-width: 77px;
        height: 4px;
        border: none;
        border-radius: 10px;
        background: rgb(225, 0, 0);
      }
    }

    &__search {
      margin-top: 15px;
      width: 100%;
      height: 28px;
      border-radius: 7px;
      background: rgb(255, 255, 255);
      padding-left: 28px;
      border: none;
      outline: none;

      &__icon {
        margin: -22px 0 0 5px;
      }
    }

    &__card {
      cursor: pointer;
      margin: 30px 0 0 0;
      padding-left: 10px;
      width: 100%;
      height: 15%;
      border-radius: 12px;
      background: rgb(41, 34, 34);
      display: flex;
      align-items: center;
      gap: 15px;

      &__avatarka__wrap {
        width: 53px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(217, 217, 217);
      }

      &__name {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
      }

      &__text {
        color: rgb(255, 255, 255);
        font-size: 17px;
        font-weight: 400;
        line-height: 21px;
      }

      &__data {
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
      }

      &__info {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 435px) {
  .chat__content__card {
    cursor: pointer;
    width: 100%;
    height: 13%;
  }
}
@media (max-width: 385px) {
  .chat__content__card {
    cursor: pointer;
    width: 100%;
    height: 12%;
  }

  .chat__content__card__name {
    font-size: 16px;
  }
  .chat__content__card__text {
    font-size: 15px;
  }
}
@media (max-width: 359px) {
  .chat__content__nav__title {
    font-size: 20px;
  }
  .chat__content__nav__pretitle {
    font-size: 20px;
  }
}
@media (max-width: 339px) {
  .chat__content__card {
    cursor: pointer;
    width: 100%;
    height: 11%;
  }

  .chat__content__card__name {
    font-size: 15px;
  }
  .chat__content__card__text {
    font-size: 14px;
  }
}
