.header {
  background: rgb(134, 7, 7);
  max-width: 100%;
  height: 74px;
  display: flex;
  justify-content: center;
  padding: 12px 16px;
  align-items: center;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
      text-transform: uppercase;
    }

    &__input {
      display: flex;
      align-items: center;
      margin-left: -100px;
    }

    &__inp {
      border-radius: 7px 0px 0px 7px;
      background: rgb(255, 255, 255);
      width: 300px;
      height: 26px;
      border: none;
      outline: none;
    }

    &__input__btn {
      border-radius: 0px 7px 7px 0px;
      background: rgb(233, 0, 0);
      width: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 26px;
    }
    &__navs2 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 22px;

      &__nav {
        width: 35px;
        height: 30px;
      }
    }
  }
}

@media (max-width: 800px) {
  .header__content__inp {
    width: 200px;
    height: 26px;
  }
}
@media (max-width: 679px) {
  .header__content__logo {
    font-size: 14px;
  }
}
@media (max-width: 655px) {
  .header__content__inp {
    width: 150px;
    height: 26px;
    margin-left: 100px;
  }
  .header__content {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 555px) {
  .header__content__navs {
    gap: 12px;
  }
}

@media (max-width: 525px) {
  .header__content__navs__nav {
    width: 28px;
    height: 26px;
  }
  .header__content__logo {
    font-size: 12px;
  }

  .header__content__inp {
    width: 130px;
  }
}

@media (max-width: 476px) {
  .header__content__logo {
    font-size: 10px;
  }

  .header__content__navs {
    gap: 10px;
  }

  .header__content__inp {
    width: 100px;
  }
}

@media (max-width: 403px) {
  .header__content__inp {
    display: none;
  }

  .header__content__input__btn {
    border-radius: 8px;
    background: rgb(233, 0, 0);
    width: 45px;
    position: relative;
    right: 145px;
  }

  .header__content__logo__wrap {
    margin-left: 60px;
  }

  .header__content__logo {
    font-size: 12px;
  }
}
@media (max-width: 366px) {
  .header__content__input__btn {
    margin-left: 40px;
  }

  .header__content__logo {
    font-size: 12px;
  }
}
@media (max-width: 340px) {
  .header__content__input__btn {
    margin-left: 40px;
  }

  .header__content__logo__wrap {
    margin-left: 60px;
  }

  .header__content__input__btn {
    margin-left: 60px;
  }

  .header__content__logo {
    font-size: 10px;
  }
}
