.Home__component {
  display: flex;
  justify-content: center;
}
.home {
  background: rgb(30, 30, 30);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 190px;
}

@media (max-width: 489px) {
  .Home__component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 390px) {
  .hero {
    display: flex;
    gap: 65px;
  }
}
