.filter__btn {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
  max-width: 210px;
  height: 41px;
  border-radius: 8px;
  background: rgba(255, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border: none;
}

@media (max-width: 489px) {
  .filter__btn {
    margin-top: 10px;
  }
}
