.chat_block {
  &__content {
    h1 {
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 23px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
      text-transform: uppercase;
    }
    &__block {
      border-radius: 15px;
      width: 920px;
      height: 715px;
      background: rgb(230, 230, 230);
    }
  }
}
