@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 5px;
}
a {
  cursor: pointer;
  text-decoration: none;
}
button {
  border: none;
}
li {
  list-style: none;
}
